{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>New post</title>
</head>
<body>
<h1>New post</h1>
<form method="POST" action="{% url 'posts:create' %}">
    {% csrf_token %}
    Title:
    <br/>
    <input type="text" name="title"/>
    <br/>
    URL:
    <br>
    <input type="text" name="url"/>
    <br/>
    {% if error %}
    {{error}} <br>
    {% endif %}
    <br>
    <input class="btn btn-primary" type="submit" name="Post!">
</form>
</body>
{% endblock %}